
section {
	padding: 5em 2em 10em;
	text-align: center;
}

.button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s all ease;
  border-radius: 5px;
}

.button:hover {
  background: #24292e;
  color: white
}
